<div {{ attributes }}>
    <div class="progress" role="progressbar" aria-label="{{ label }}" aria-valuenow="{{ current }}" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}">
        <div class="progress-bar {{ color }}" style="width: {{ width*100|round(2) }}%">{{ text }}</div>
    </div>
</div>