<div {{ attributes }}>
    <div class="row lotgd-stage">
        <div class="col-3 bg-primary-subtle lotgd-stage-actions">
            <ul class="nav flex-column py-3">
                {% for action in this.stage.actionGroups["lotgd.actionGroup.empty"].actions %}
                    <twig:Action :action="action" :character="character" />
                {% endfor %}

                {% for actionGroup in this.stage.actionGroups|filter(g => g.id not in ["lotgd.actionGroup.empty", "lotgd.actionGroup.hidden"])|sort(g => g.weight) %}
                    <li class="nav-item">
                        {{ actionGroup.title }}
                    </li>

                    {% for action in actionGroup.actions %}
                        <li class="nav-item lotgd-stage-action">
                            <a class="nav-link"
                               {{ live_action("takeAction", {
                                   "actionId": action.id,
                               }) }}
                            >{{ action.title }}</a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>

        <div class="col-6 p-3 lotgd-stage-scene">
            <h2>{{ this.stage.title }}</h2>

            {{ this.stage.description|parse|raw }}

            {# Attachments #}
            {% for attachment in this.stage.attachments %}
                {{ component(attachment.attachment.attachmentClass, {
                    "character": character,
                    "stage": stage,
                    "config": attachment.config,
                }) }}

                {{ attachment.attachment.name }}
            {% endfor %}
        </div>

        <div class="col-3 bg-primary-subtle">

        </div>
    </div>
</div>